@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Tourney:wght@300&display=swap');

body {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(20,27,56,1) 50%, rgba(0,0,0,1) 100%);
    width: 30vw;
    margin: 5% auto 30% auto;
    height: 50vh;
    font-family: "Orbitron";
    color: white;
    position: relative;
    z-index: 0;
}

/* body::after {
    opacity: 0.5;
    background: url("./Resources/Star_Trip.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    z-index: 1;
} */

.bodyWrap {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("./Resources/Star_Trip.gif");
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(350%);
    opacity: 0.3;
    z-index: 0;
}

p {
    text-align: center;
}

.attack {
    text-align: center;
    cursor: grab;
    
}

.battleStation {
    position: relative;
    margin-bottom: 40px;
    z-index: 2;
}

.aliens {
    
    width: 75%;
    margin: auto;
    height: 250px;
    margin-bottom: 0px;
    
}

.aliens ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 50px;
    filter: blur(50%)
}

.messages ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 50px;
}

ul > li {
    /* display: inline-block; */
    height: 350px;
    gap: 30px;
}

li > p {
    font-size: 35px;
    margin-top: 0px;
}

.ship {
    height: 150px;
    width: auto;

}

img {
    height: 125px;
    transition: all 300ms ease-in-out;
    width: auto;
}

.attack > img:hover {
    transform: scale(103%);
}

/* img:hover {
    transform: translateX(-5px);

}

.aliens > ul > li:hover{
    transform: translateX(-5px);

} */

a {
    color: rgb(108, 108, 108);
    font-size: 10px;
    text-align: center;
    margin-left: 40px;
    /* position: absolute;
    bottom: 50%;
    left: 50%; */
}


h4 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
}



.userHealth {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 40px;
}

.alienHit {
    color: green;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.alerts {
    color: white;
    height: auto;
    width: 800px;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 150px;
    border: solid red 3px;
}


.alerts > ul {
    display: inline;
    margin-left: 0px;
    display: inline;
    list-style-type: none;
    text-align: left;
}

.messages {
    position: absolute;
    content: "";
    left: -300px;
    top: 210px;
    height: 75px;
    width: 1000px;
}

.selfHit {
    color: red;
    opacity: 0;
    transition: all 300ms ease-in-out;
    
}

.alienMiss {
    color: green;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.selfMiss {
    color: red;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.schwartz {
    display: none;
    position: absolute;
    height: 80vh;
    width: auto;
    content: "";
    right: -70%;
    top: -5%;
    box-shadow: 0px 0px 30px white;
    z-index: 100;
}

.bye {
    opacity: 0;
    position: absolute;
    height: 60vh;
    width: auto;
    content: "";
    right: -70%;
    top: 200%;
    box-shadow: 0px 0px 30px white; 
    transition: all 500ms;
    z-index: 100;
}

.gameOver {
    display: none;
    position: absolute;
    height: 130vh;
    width: auto;
    content: "";
    right: -100%;
    top: -20%;
    box-shadow: 0px 0px 30px white;
    z-index: 100;
}

.victory {
    display: none;
    position: absolute;
    height: 100vh;
    width: auto;
    content: "";
    right: -70%;
    top: -20%;
    box-shadow: 0px 0px 30px white;
    z-index: 100;
}

.timeout {
    position: absolute;
    display: none;
    height: 70vh;
    width: auto;
    right: -70%;
    top: -20%;
}

.timer {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid rgb(255, 255, 255) 3px;
    height: 5vh;
    width: 5vh;
    position: absolute;
    top: 50px;
    right: -50%;
    border-radius: 100%;
    box-shadow: 0px 0px 20px rgb(248, 247, 181);
    cursor: pointer;
    transition: color 200ms ease-in;
}

.timer::after {
    content: "START TIMER";
    position: absolute;
    top: -55px;
    text-align: center;
}

#slider {
    -webkit-appearance: none;
    position: absolute;
    right: -58%;
    top: 130px;
    background:rgb(108, 108, 108)
}

#slider {
    -webkit-appearance: none;
    /* width: 100%; */
    height: 10px;
    border-radius: 10px;  
    background: #ffffff;
    outline: none;
    opacity: 0;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
  }
  
  #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #1150a4;
    cursor: pointer;
  }
  
  #slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #144ea0;
    cursor: pointer;
  }


.gifDiv {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -75%;
    top: 30px;
}

.messageBoard {
    opacity: 0;
    display: flex;
    width: 200%;
    height: 15vh;
    margin-left: -15vw;
    box-shadow: 0px 0px 30px white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in-out;
}

.startMessage {
    opacity: 0;
    position: absolute;
    height: 750px;
    width: 1300px;
    left: -85%;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    z-index: 100;
    transition: all 300ms ease-in-out;
    box-shadow: 0px 0px 50px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

/* .startMessage::before {
    content: '';
    position: absolute;
    height: 1000px;
    width: 1800px;
    background-image: conic-gradient(transparent,transparent,transparent,#00ccFF);
    animation: borderSpin 5s linear infinite;
}

.startMessage::after {
    content: '';
    position: absolute;
    height: 1000px;
    width: 1800px;
    background-image: conic-gradient(transparent,transparent,transparent,#02891b);
    animation: borderSpin 5s linear infinite;
    animation-delay: 2.5s;
}

@keyframes borderSpin {
    0%{
        transform: rotate(0deg);
    } 
    100%{
        transform: rotate(360deg);
    }
} */

/* .startMessage > span {
    position: absolute;
    inset: 10px;
    border-radius: 20px;
    background-color: black;
} */

.header {
    transition: all 700ms ease-in-out;
    margin: 0;
}

.startMessage > img {
    position: absolute;
    content: "";
    height: 150%;
    width: auto;
    opacity: 55%;
    z-index:-1;
    transition: all 5000ms ease-in-out;
}

.options {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    transition: all 700ms ease-in-out;
    transform: translateY(60px);
}

/* .options:nth-child(1) {
    transition-delay: 300ms;
}

.options:nth-child(2) {
    transition-delay: 600ms;
}

.options:nth-child(3) {
    transition-delay: 900ms;
} */



.testBlocks {
    text-align: center;
    gap: 60px;
    height: 300px;
    width: 310px;
    border: solid rgb(255, 255, 255) 1px;
    transition: all 300ms ease-in-out;
    border-radius: 20px;
}

.testBlocks > p {
    display: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid white 1px;
}

.testBlocks:hover {
    /* transform: scale(105%); */
    box-shadow: 0px 0px 30px white;
}

.testBlocks:nth-child(1):hover {
    border: solid rgb(0, 155, 88) 3px;
    color:rgb(0, 155, 88);
    animation: pulse 1s linear infinite;
}

.testBlocks:nth-child(2):hover {
    border: solid rgb(0, 101, 155) 3px;
    color:rgb(0, 101, 155);
    animation: pulse 1s linear infinite;

}

.testBlocks:nth-child(3):hover {
    border: solid rgb(126, 1, 1) 3px;
    color:rgb(169, 0, 0);
    animation: pulse 1s linear infinite;
    height: 380px;
}

.testBlocks:nth-child(1) > h4{
    font-family: "Bebas Neue";
}

.testBlocks:nth-child(2) > h4{
    font-family: "Righteous";
}

.testBlocks:nth-child(3) > h4{
    font-family: "Tourney";
}

.testBlocks:nth-child(1) > h3{
    
    color:rgb(0, 155, 88);
}

.testBlocks:nth-child(2) > h3{
    
    color:rgb(0, 101, 155);
    }

.testBlocks:nth-child(3) > h3{
    

    color:rgb(126, 1, 1);
}

.testBlocks > ul {
    text-align: left;
    gap: 25px;
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    /* display: inline-block; */
}

.testBlocks > h3 {
    margin-bottom: 0px;
}

.testBlocks > h4 {
    margin-top: 15px;
}

.testBlocks > ul > li {
    height: 0px;
    width: auto;
}

@keyframes pulse {
    0%{box-shadow: 0px 0px 30px white}
    50%{box-shadow: 0px 0px 15px white}
    100%{box-shadow: 0px 0px 30px white}
}

.musicControl {
    cursor: pointer;
    height: 45px;
    width: 45px;
}

label {
    font-size: 0.75em;
}

.musicBlock{
    position: absolute;
    right: -30%;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#dizzy {
    display: none;
    position: absolute;
    left: 32%;
    top: 8%;
    height: 150px;
    width: auto;
    animation: rotate 2s linear infinite;
    z-index: 100;
}

@keyframes rotate {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg);}
}

.shipNum{
    display: flex;
    justify-content: center;
    flex-direction:row;
    list-style-type: none;
    align-items: center;
}

.circles {
    display: none;
    margin: 15px;
    margin-top: 25px;
    /* display: inline-block; */
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: linear-gradient(90deg, rgba(98,98,98,1) 0%, rgba(89,83,103,1) 80%);
    color: white;
    border: solid red 1px;
    padding: 8px;
    padding-top: 12px;
    transition: all 200ms ease-in-out;
    margin-bottom: 0px;
}

.circles:hover{
    transform: scale(106%);
    box-shadow: 0px 0px 10px white;
}


.testBlocks:nth-child(3):hover > .circles {
    display: inline-block;
}

.testBlocks:nth-child(3):hover > p {
    display: block;
}

.startGame {
    height: 30px;
    width: 150px;
    padding-top: 10px;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(98,98,98,1) 0%, rgba(89,83,103,1) 80%);
    /* background-color: white; */
    color: white;
    margin-top: 5%;
    margin-left: 16%;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.startGame:hover {
    transform: scale(105%);
    box-shadow: 0 0 30px white;
}

.testBlocks:nth-child(3) .startGame {
    margin-left: 81px;
    margin-top: 30px;
    
}

.explanation {
    display: none;
    text-align: left;
    position: absolute;
    width: 500px;
    height: auto;
    padding-top: 5px;
    left: -100%;
    top: -15%;
    font-size: 0.75em;
    border: solid red 3px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.7);

    transition: all 1000ms ease-out;
}

.explanation > p {
    font-size: 1.5em;
    text-shadow: 0px 0px 2px rgb(0, 155, 88);
}

.explanation > ol {
    font-size: 1.5em;
}

.explanation2 {
    display: none;
    text-align: left;
    position: absolute;
    width: 500px;
    height: auto;
    padding-top: 5px;
    left: -100%;
    top: -15%;
    font-size: 0.75em;
    border: solid red 3px;
    transition: all 1000ms ease-out;
    background-color: rgba(0,0,0,0.7);

}

.explanation2 > p {
    font-size: 1.5em;
    text-shadow: 0px 0px 2px rgb(0, 101, 155);
}

.explanation2 > ol {
    font-size: 1.5em;
}

.explanation3 {
    display: none;
    text-align: left;
    position: absolute;
    width: 500px;
    height: auto;
    padding-top: 5px;
    left: -100%;
    top: -15%;
    font-size: 0.75em;
    border: solid red 3px;
    transition: all 1000ms ease-out;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
}

.explanation3 > p {
    font-size: 1.5em;
    text-shadow: 0px 0px 2px rgb(0, 101, 155);
}

.explanation3 > ol {
    font-size: 1.5em;
}

.explanation3 > ul {
    font-size: 1.5em;
}

.explanation3 > ul > li {
    height: auto;
}

.boom {
    display: none;
    position: absolute;
    left: 20%;
    transform: scale(350%);
}

.li1, .li2, .li3, .li4, .li5, .li6 {
    transition: all 400ms ease-in-out;
    position: relative;
    transform: scale(120%);
}

#difficulty {
    opacity: 0;
    transition: all 200ms ease-in;
}

.shipStats {
    display: flex;
    flex-direction: column;
    color: white;
    content: '';
    position: absolute;
    left: 70%;
    top: 15%;
    height: auto;
    width: 300px;
    background-color: transparent;
    border-radius: 30px;
    border: solid red 2px;
    transform: scale(70%);
    box-shadow: 0px 0px 15px red;
}

.shipStats > ul > li {
    height: auto;
}

.shipStats > hr {
    width: 90%;
}

.gameOverStats {
    display: none;
    position: absolute;
    height: auto;
    width: 400px;
    content: "";
    right: 10%;
    top: 5%;
    box-shadow: 0px 0px 30px white;
    z-index: 100;
    background-image: url("https://images.unsplash.com/photo-1604983048955-32f38fa4356a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1143&q=80");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 120%;
    background-color: black;
    padding: 30px;
    border-radius: 20px;
    transition: all 1000ms ease-in;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
    animation: pulseSize 2s linear infinite;
}

@keyframes pulseSize {
    0%{transform: scale(100%);}
    50%{transform: scale(105%);}
    100%{transform: scale(100%);}
}

.gameOverStats > h1 {
    text-align: center;

}


.gameOverStats > ul > li {
    height: 3rem;
}

.restart {
    display: flex;
    align-items: center;
    height: 25px;
    width: 100px;
    margin: auto;
    background-color: white;
    color:#144ea0;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    transition: all 200ms ease-in-out;
}

.restart:hover {
    transform: scale(105%);
    box-shadow: 0px 0px 15px white;
}